.footerSection {
  background: #f9fafb;
  padding: 60px 0 20px;
  font-size: 15px;
  color: #555;

  .footerfirstRow{
  background: #16bdc4;
  border-radius: 10px;
    .footerfirstRowTitle{
      font-size: 2rem;
    font-weight: 600;
     color: #ffffff; 
    letter-spacing: 1px;
    }
  }


  .footerBrand {
    margin-bottom: 20px;
  }

  .footerText {
    line-height: 1.7;
    margin-bottom: 25px;
    max-width: 420px;
  }

  .footerTitle {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #0b1b4d;
  }

  a {
    color: #555;
  text-decoration: none;

    &:hover {
      color: #16bdc4;
  text-decoration: none;
    }
  }

  .socialIcons {
  display: flex;
  align-items: center;
  gap: 16px;

  a {
    width: 38px;
    height: 38px;
    background: #16bdc4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
      background: #acdc7d;
      transform: translateY(-2px);

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

  .footerMenu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;
    }
  }

  .footerBottom {
    border-top: 1px solid #e5e7eb;
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    p {
      margin: 0;
      font-size: 14px;
    }

    .bottomLinks {
      display: flex;
      gap: 20px;

      a {
        font-size: 14px;
        color: #666;
      }
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  .footerBottom {
    flex-direction: column;
    text-align: center;
  }
  .socialIcons {
    justify-content: center;
  }
}
